h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-weight: 700;
}

h2, h4 { 
  font-weight: 300;
}

.bg-dark-snow {
  background-color: #d8dee9;
}

.bg-medium-snow {
  background-color: #e5e9f0;
}

.bg-light-snow {
  background-color: #eceff4;
}


.bg-darkest-frost {
  background-color: #5e81ac;
}

.bg-dark-frost {
  background-color: #81a1c1;
}

.bg-light-frost {
  background-color: #99c0d0;
}

.bg-lightest-frost {
  background-color: #8fbcbb;
}


.bg-aurora-red {
  background-color: #bf616a;
}


.darkest-frost {
  color: #5e81ac;
}

.dark-frost {
  color: #81a1c1;
}

.light-frost {
  color: #99c0d0;
}

.lightest-frost {
  color: #8fbcbb;
}


.bg-aurora-red {
  background-color: #bf616a;
}


/* Blockquote */
.fw9 {
    font-weight: 900;
}

.lh-copy {
    line-height: 1.5;
}

.pa4 {
    padding: 2rem;
}

.ph0 {
    padding-left: 0;
    padding-right: 0;
}

.f4 {
    font-size: 1.25rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

.measure-narrow {
    max-width: 20em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 30em) {
    .lh-title-ns {
        line-height: 1.25;
    }

    .f1-ns {
        font-size: 3rem;
    }

    .f4-ns {
        font-size: 1.25rem;
    }
}

#netviz{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
