{{ define "main" }}

<div class="v-100 w-100 bg-white">
  <div class="mw9 center ph3-ns mid-gray">
    <div class="cf">
      <div class="fl w-100 w-33-ns center pa3">
	<div class="pv4">
	  <!--<img class="w-50" src="/images/crowd_vectorized.svg"/>-->
	  <h1 class="f2-l f3-m f3 flex-none">Human-Centered Design</h1>
	  <h2 class="f3-l f4-m f4">We believe users should always be included in model design.</h2>
	</div>
      </div>
      <div class="fl w-100 w-33-ns center pa3">
<div class="pv4">
	  <!--<img class="w-50" src="/images/data-quality.svg"/>-->
	  <h1 class="f2-l f3-m f3 flex-none">Data Quality</h1>
	  <h2 class="f3-l f4-m f4">We're obsessed with Data Quality, the magic sauce behind great AI products</h2>
	</div>
      </div>
      <div class="fl w-100 w-33-ns center pa3">
	<div class="pv4">
	  <!--<img class="w-50" src="/images/scientist.svg"/>-->
	  <h1 class="f2-l f3-m f3 flex-none">Science Minded</h1>
	  <h2 class="f3-l f4-m f4">We deliver long-term value by bridging the academic and business worlds.</h2>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="v-100 w-100 bg-dark-frost">
  <div class="dtc v-mid white mid-gray ph4 ph6-l pv4-l pv2">
    <h1 class="f3-m f2-l f-subheadline-s lh-title tc">
      Artificial Intelligence can only improve our lives if humans are always 
      top priority. Fairness, interpretability, privacy, and security are 
      non-negotiable.
    </h1>
  </div> 
</div>



<div class="v-100 w-100 bg-light-snow">

<div class="mw9 center ph3-ns">
  <div class="cf lh-title ph4 pv3">
    <!--<h1 class="f2">We convert messy data into information.</h1>-->
    <h1 class="f2-l f3-m">We develop your workforce.</h1>
    <h1 class="f2-l f3-m">We transform academic literature into business value.</h1>
    <h1 class="f2-l f3-m darkest-frost">We integrate responsible AI practices into your ML workflow.</h1>
  </div>
</div>

<div>


<div class="mid-gray mt4">
  <div class="mw9 center ph1-ns ">
    <div class="cf">
      <div class="fl w-100 w-33-ns center ph3">
	<div class="bg-white pv2 shadow-1">
	<div class="ph4">
	  <h1 class="f2-l f3-m flex-none">Future-proof workforce</h1>
	  <h2 class="f3-l f4-m">We design training tailored to your needs.</h2>
	</div>
	</div>
      </div>

      <div class="fl w-100 w-33-ns center ph3">
	<div class="bg-white pv2 shadow-1">
	<div class="ph4">
	  <h1 class="f2-l f3-m flex-none">Invite science in</h1>
	  <h2 class="f3-l f4-m">
	    Reading and implementing the latest research is challenging and we love it. 
	    </h2>
	</div>
	</div>
      </div>
      <div class="fl w-100 w-33-ns center ph3">
	<div class="bg-white pv2 shadow-1">
	<div class="ph4">
	  <h1 class="f2-l f3-m flex-none">Responsible AI</h1>
	  <h2 class="f3-l f4-m">We build
	  pipelines that are transparent, reproducible, and fair.</h2>
	</div>
	</div>
      </div>
    </div>
  </div>
</div>

<script>
  VANTA.NET({
  el: "#netviz",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0x3fe8ff,
  backgroundColor: 0x2e3440,
  maxDistance: 18.00,

})
</script>

  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy">
    {{ .Content }}
  </article>
  {{/* Define a section to pull recent posts from. For Hugo 0.20 this will default to the section with the most number of pages. */}}
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{/* Check to see if the section is defined for ranging through it */}}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{/* Derive the section name  */}}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}

    <div class="pa3 pa4-ns w-100 w-70-ns center">
      {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
       {{ with .Site.GetPage "section" $section_name }}
          <h1 class="flex-none">
            {{ $.Param "recent_copy" | default (i18n "recentTitle" .) }}
          </h1>
        {{ end }}

      {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

      <section class="w-100 mw8">
        {{/* Range through the first $n_posts items of the section */}}
        {{ range (first $n_posts $section) }}
          <div class="relative w-100 mb4">
            {{ partial "summary-with-image.html" . }}
          </div>
        {{ end }}
      </section>

      {{ if ge $section_count (add $n_posts 1) }}
      <section class="w-100">
        <h1 class="f3">{{ i18n "more" }}</h1>
        {{/* Now, range through the next four after the initial $n_posts items. Nest the requirements, "after" then "first" on the outside */}}
        {{ range (first 4 (after $n_posts $section))  }}
          <h2 class="f5 fw4 mb4 dib mr3">
            <a href="{{ .RelPermalink }}" class="link black dim">
              {{ .Title }}
            </a>
          </h2>
        {{ end }}

        {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
        {{ with .Site.GetPage "section" $section_name }}
          <a href="{{ .RelPermalink }}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">{{ i18n "allTitle" . }}</a>
        {{ end }}
        </section>
      {{ end }}

      </div>
  {{ end }}
{{ end }}
